---
import { work } from "@cv";
import ExperienceItem from "./ExperienceItem.astro";
import WorkExperience from "@/icons/WorkExperience.astro";
---

<section class="max-w-3xl mx-auto pt-24" id="experiencia">
  <h2 class=" pb-12 flex items-center text-3xl font-semibold gap-x-3 text-gray-900 dark:text-gray-100"><WorkExperience />Experiencia Laboral</h2>
  <ol class="relative ml-4 border-s border-gray-200 dark:border-gray-700">
    {
      work.map(({ name, position, startDate, endDate, url, summary, technologies }) => (
        <ExperienceItem
          title={name}
          description={position}
          time={startDate}
          latest={!endDate}
          fin={endDate}
          href={url}
          summary={summary}
          button={url}
          icons={technologies}
        />
      ))
    }
  </ol>
</section>
